@font-face {
font-family: 'bb';
src: url('../fonts/HeartBreakingBad.otf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'futura';
src: url('../fonts/FuturaCondensedMedium.otf');
font-weight: normal;
font-style: normal;
}
*{
font-family: 'futura';
font-size: large;
overflow: hidden;
color: white;
}
html, body {
height: 100%;
margin: 0;
}
body{
background-color: #000;
background-image: url('../img/hank7.png');
background-size: auto;
background-position: center;
background-repeat: no-repeat; 
}
#cont {
position: fixed;
bottom: 40px;
right: 40px;
width: auto;
margin: 0;
background-color: transparent;
}
#titulo{
color: white!important;
}
.card {
background-color: transparent;
width: 500px;
padding: 20px;
border: none;
}
.card-title {
background-color: transparent;
font-size: 2rem; 
margin-bottom: 20px;
}
.form-label {
background-color: transparent;
font-size: 1.2rem;
color: white;
}
.form-control {
background-color: transparent;
font-size: 1.1rem;
padding: 10px;
}
.btn {
font-size: 1.2rem;
padding: 10px;
}
@media (max-width: 1200px) {
.card {
width: 450px;
}
.card-title {
font-size: 1.8rem;
}
.form-label, .form-control, .btn {
font-size: 1rem;
}
}
@media (max-width: 992px) {
.card {
width: 400px;
}
.card-title {
font-size: 1.6rem;
}
.form-label, .form-control, .btn {
font-size: 0.9rem;
}
}
@media (max-width: 768px) {
.card {
width: 350px;
}
.card-title {
font-size: 1.4rem;
}
.form-label, .form-control, .btn {
font-size: 0.8rem;
}
}
@media (max-width: 576px) {
.card {
width: 300px;
}
.card-title {
font-size: 1.2rem;
}
.form-label, .form-control, .btn {
font-size: 0.7rem;
}
#cont {
bottom: 0;
right: 0;
}
}
h1 {
font-family: 'bb';
font-size: 100px;
text-align: center;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
margin-top: 65px;
}
@media (max-width: 1200px) {
h1 {
font-size: 80px;
}
}
@media (max-width: 992px) {
h1 {
font-size: 60px;
}
}
@media (max-width: 768px) {
h1 {
font-size: 40px;
}
}
@media (max-width: 576px) {
h1 {
font-size: 30px;
}
}